html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }

      /*#temp {
        position: absolute;
        margin: auto;
        height: 150px;
        width: 250px;
        background-color: #fff;
        bottom: 20px;
        right: 45px;
      }*/
